body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffffd7; /* Fondo de la página */
}

header {
    background-color: #318b27; /* Fondo del encabezado */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #318b27; /* Fondo de la barra de navegación */
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    background-color: #ffffff; /* Fondo del contenido principal */
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #a1a1a1e0; /* Fondo de cada sección */
    border-radius: 8px;
}

footer {
    background-color: #318b27; /* Fondo del pie de página */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


